data-orchestrations/Kestra/flows/07_etl_pipeline.yaml
id: etl_pipeline_1
namespace: company.team

tasks:
  - id: Extract
    type: io.kestra.plugin.core.http.Download
    uri: https://huggingface.co/datasets/kestra/datasets/raw/main/csv/orders.csv

  - id: transform
    type: io.kestra.plugin.scripts.python.Script
    containerImage: python:3.11-slim
    beforeCommands:
      - pip install pandas
    inputFiles:
      data.csv: "{{ outputs.Extract.uri }}"
    outputFiles:
      - "orders.csv"
    script: |
      import pandas as pd

      df = pd.read_csv("data.csv")
      df[['first_name', "last_name"]] = df['customer_name'].str.split(" ", n=1, expand=True)
      df = df.drop("customer_name", axis="columns")
      column_order = [
          "order_id",
          "first_name",
          "last_name",
          "customer_email",
          "product_id",
          "price",
          "quantity",
          "total"
      ]
      df = df[column_order]

      df.to_csv("orders.csv", index=False)

  - id: create_table
    type: io.kestra.plugin.jdbc.postgresql.Query
    url: "jdbc:postgresql://pgdatabase:5432/ny_taxi"
    username: "{{ kv('PG_USERNAME') }}"
    password: "{{ kv('PG_PASSWORD') }}"
    sql: |
      CREATE TABLE IF NOT EXISTS orders (
        order_id INT,
        first_name VARCHAR(255),
        last_name VARCHAR(255),
        customer_email VARCHAR(255),
        product_id INT,
        price DECIMAL(10, 2),
        quantity INT,
        total DECIMAL(10, 2)
      );
  - id: load_to_db
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: "jdbc:postgresql://pgdatabase:5432/ny_taxi"
    username: "{{ kv('PG_USERNAME') }}"
    password: "{{ kv('PG_PASSWORD') }}"
    format: CSV
    from: "{{ outputs.transform.outputFiles['orders.csv'] }}"
    table: orders
    header: true
    delimiter: ","



